.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 250px;
    background-color: #11076b;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
  }

  .menu {
    list-style-type: none;
    padding: 0;
  }

  .menu li {
    margin-bottom: 10px;
  }

  .menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
  }

  /* Estilos para el botón de menú */
  .menu-btn {
    cursor: pointer;
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
  }

  .menu-btn span {
    display: block;
    position: absolute;
    height: 2px;
    background-color: white;
    transition: transform 0.3s ease;
  }

  .menu-btn span:nth-child(1) {
    width: 100%;
    top: 0;
  }

  .menu-btn span:nth-child(2), .menu-btn span:nth-child(3) {
    width: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  #menu-toggle {
    display: none;
  }

  /* Estilos para la animación del menú desplegable */
  #menu-toggle:checked + .menu-btn span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  #menu-toggle:checked + .menu-btn span:nth-child(2) {
    transform: scaleX(0);
  }

  #menu-toggle:checked + .menu-btn span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

  #menu-toggle:checked ~ .menu {
    transform: translateX(0);
  }